html,body,#root,.App{
  margin:0;
  padding:0;
  text-align: center;
  width:100%;
  height:100%;
  font-family: 'Playfair Display', serif;
}
:root{
  --black:#0A1612;
  --denim:#1A2930;
  --gold:#F7CE3E;
  --paper:#F4F4F4;
  --charcoal:#373737;
}
/* Landing Page */
#landing-page{
  position: relative;
  width:100%;
  height:100%;
  overflow-X: hidden;
  background-color:var(--paper);
}
#landing-about{
  margin-top:2em;
}
#landing-headshot{
  width: 12vmax;
  height: 12vmax;
  display: inline-block;
  float: left;
  margin: 0 3vmax;
  animation:fadeintoview 1.2s;
  border-radius: 3px;
}
#landing-headshot-img{
  width:100%;
  height:100%;
}
#about-info{
  text-align: left;
  display: inline-block;
  float: left;
  margin-right:3vmax;
  animation:fadeintoview 1.2s;
  color:var(--charcoal);
}
#about-info h1{
  font-size:2vmax;
  margin:15px 0;
}
#about-info h2{
  margin:0 0 5px 0;
  font-size:1.5vmax;
}
#about-text{
  font-size: 1.4vmax;
  text-align: left;
  width:97%;
  animation: fadeinright 1s;
  color:var(--charcoal);
}

#landing-skills{
  margin-top: 6vmax;
  font-size: 3vmax;
}
#landing-skills-label{
  animation: fadeinright 1.2s;
  color:var(--charcoal);
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.2px;
  font-size:5vmax;
  margin:0 0 1.5vmax 0;
  padding:0;
}
.skills-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-grid;
  width: 33.3%;
}
.skill-label{
  font-size:2.6vmax;
  margin-bottom:1vmax;
  margin-top:0.5vmax;
  animation: fadeinleft 1.2s;
  color:var(--charcoal);
  font-family: 'Oswald', sans-serif;
}
.skill-item{
  font-size:1.6vmax;
  margin-bottom:0.5vmax;
  animation: fadeinleft 1.2s;
  color:var(--charcoal);
}
#landing-portfolio-btn{
  width: 100%;
  position: absolute;
  bottom:4vmax;
  transition:all 1s ease;
  animation:fadeintoview 1.5s;
  color:var(--charcoal);
}
#landing-portfolio-btn a{
  position: relative;
  bottom:0;
  border:2px solid;
  padding:1.25vmax 3vmax;
  cursor: pointer;
  height:100%;
  width:100%;
  transition:all 0.6s ease;
  font-size:1.5vmax;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}
#landing-portfolio-btn a:hover{
  bottom:1vmax;
  color:var(--gold);
}
/*Projects Page*/
#projects-page{
  width:100%;
  height:100%;
  background-color:var(--paper);
}
.projects-wrapper{
  list-style: none;
  margin:12vmax 0 0 0;
  padding:0;
  width:80%;
  display: inline-block;
}
.projects-item{
  border:3px solid var(--black);
  display:inline-block;
  width:25%;
  margin:2vmax;
  height:25vh;
  transition: all 1s ease;
}
.projects-item:hover{
  background-color:var(--gold);
}
/*Animations*/
@keyframes fadeinright{
  0%{
    transform: translateX(50%);
  }
  100%{
    transform:translateX(0%)
  }
}
@keyframes fadeinleft{
  0%{
    transform: translateX(-135%);
  }
  100%{
    transform:translateX(0%)
  }
}
@keyframes fadeintoview{
  0%{
    visibility: hidden;
    opacity: 0;
  }
  100%{
    visibility: visible;
    opacity: 1;
  }
}