html,body,#root,.App{
  margin:0;
  padding:0;
  text-align: center;
  width:100%;
  height:100%;
  font-family: 'Playfair Display', serif;
  background-color:var(--paper);
}
.Home{
  height:fit-content;
}
:root{
  --black:#0A1612;
  --denim:#1A2930;
  --gold:#e5bb25;;
  --paper:#F4F4F4;
  --charcoal:#373737;
}
.animation-fadeinbottom{
  animation: fadeinbottom 1.2s;
  display:inline-block !important;
}
.animation-top{
  animation: fadeintop 1.2s;
  display:inline-block !important;
}
.animation-fadein{
  animation: fadeintoview 1.2s;
  display:inline-block !important;
}
.animation-leftin{
  animation: fadeinleft 1.2s;
  display:inline-block !important;
}
.animation-rightin{
  animation: fadeinright 1.2s;
  display:inline-block !important;
}
.animation-leftout{
  animation: fadeoutleft 1.2s forwards;
  display:inline-block !important;
  
}
.animation-rightout{
  animation: fadeoutright 1.2s forwards;
  display:inline-block !important;
}
/* Landing Page */
#landing-page{
  position: relative;
  width:100%;
  height:100%;
  overflow: hidden;
  background-color:var(--paper);
}
#landing-about{
  margin-top:2em;
}
#landing-headshot{
  width: 12.5vmax;
  height: 13vmax;
  display: inline-block;
  float: left;
  margin: 0 3vmax;
  border-radius: 7px;
  overflow: hidden;
  animation: fadeintoview 1.2s;
}
#landing-headshot img{
  width: 106%;
  height: 105%;
}
#about-info{
  text-align: left;
  display: inline-block;
  float: left;
  margin-right:2vmax;
  color:var(--charcoal);
  animation: fadeintoview 1.2s;
}
#about-info h1{
  font-size:2vmax;
  margin:0 0 9px 0;
}
#about-info h2{
  margin:0 0 5px 0;
  font-size:1.5vmax;
}
.about-links{
  list-style: none;
  display: inline-block;
  margin:0;
  padding:0;
}
.about-links li{
  display: inline-block;
  margin: 0 7px 0 0;
}
.about-links li  a{
  text-decoration: none;
  font-weight: bolder;
  font-size:1.25vw;
  color:#e5bb25;
}
.about-links li:after {
  display:block;
  content: '';
  margin-top:6px;
  border-bottom:2px solid var(--gold);
  transform: scaleX(0);  
  transition: transform 175ms ease-in-out;
}
.about-links li:hover:after { transform: scaleX(1); }
#about-text{
  font-size: 1.4vmax;
  text-align: left;
  width:99%;
  animation: about-fadeinright 1s;
  color:var(--charcoal);
}

#landing-skills{
  margin-top: 6vmax;
}
.skills-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-grid;
  width: 33.3%;
}
.skill-label{
  font-size:2.6vmax;
  margin-bottom:1vmax;
  margin-top:0.5vmax;
  animation: fadeinleft 1s;
  color:var(--charcoal);
  font-family: 'Oswald', sans-serif;
}
.skill-item{
  font-size:1.6vmax;
  margin-bottom:0.5vmax;
  animation: fadeinleft 1s;
  color:var(--charcoal);
}
#landing-portfolio-btn{
  width: 100%;
  position: absolute;
  bottom:4vmax;
  transition:all 1s ease;
  color:var(--charcoal);
}
#landing-portfolio-btn a{
  position: relative;
  bottom:0;
  border:2px solid;
  padding:1.25vmax 3vmax;
  cursor: pointer;
  height:100%;
  width:100%;
  transition:all 0.6s ease;
  font-size:1.5vmax;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  animation:fadeinbottom 1s;
}
#landing-portfolio-btn a:hover{
  bottom:1vmax;
  color:var(--gold);
}
/*Projects Page*/
#projects-page{
  width:100%;
  height:100%;
  background-color:var(--paper);
  display:table;
  overflow-X: hidden;
  position: relative;
}
.projects-wrapper{
  list-style: none;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  width: 90%;
  text-align: center;
  display: inline-block;
}
.projects-item{
  display: none;
  width: 38.5vmax;
  margin: 1vmax;
  height: 25vw;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  z-index: 1;
  text-align: center;
}
.projects-item img{
  width:100%;
  height:100%;
}
.projects-item div{
  position: absolute;
  left:0;
  top:0;
  width:102%;
  height:102%;
  transition: all 0.5s ease;
  display: table;
}
.projects-item div h1{
  opacity: 0;
  transition: all 0.75s ease;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.2px;
  font-size:2.5vmax;
  display:table-cell; 
  vertical-align:middle;
  color:var(--paper);
}
.projects-item div:hover > h1,.projects-item div:hover{
  background-color:var(--gold);
  opacity: 1;
}
.close-btn{
  display: inline-block;
  position: absolute;
  left: 1em;
  top: 0.15em;
  font-size: 2.75em;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: var(--charcoal);
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease;
}
.close-btn:hover{
  color:var(--gold);
  left:0.75em;
}
/*Single Project*/
#single-project{
  display: inline-block;
  height:85%;
  width:85%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  text-align: center;
}
#project-name{
  color:var(--charcoal);
  padding:0 12px 12px 12px;
  width:fit-content;
  display:inline-block;
  margin:0;
  font-size:2.2vmax;
}
#project-role:before{
  content:"Role ";
  color:var(--gold);
  padding:0 5px 2px 12px;
}
#project-role{
  color:var(--charcoal);
  text-align: left;
  display: block;
  margin-left: 15.5vmax;
}
#project-desc{
  font-size:1.5vmax;
  display:none;
}
#project-preview{
  display:inline-block;
  width:55vw;
  max-width: 757px;
  max-height: 430px;
}
.project-skills-wrapper{
  width: 71%;
  padding: 0;
  margin-top: 3em;
  text-align: right;
  position: absolute;
  right: 13vmax;
}
.project-skill{
  display: inline-block;
  margin: 1vmax 2vw;
  font-weight: bolder;
  color: var(--denim);
  font-size: 1.4vw;
}
.project-links-wrapper{
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 25%;
  right: 2%;
}
.project-link{
  padding:1.2vmax 0;
  position: relative;
  transition: all 1s ease;
  bottom:0;
}
.project-link a{
  text-decoration: none;
  color:var(--gold);
  font-size:1.8vmax;
  letter-spacing: 1.1px;
}
.project-link:hover{
  bottom:1vmax;
}
.project-status{
  margin-top:10vmax;
  text-align: center;
  width:50%;
  display: inline-block;
  color:var(--gold);
  font-size:1.8vmax;
  background-color:var(--charcoal);
  border-bottom:2px solid var(--charcoal);
  border-top:2px solid var(--charcoal);
  padding: 15px 0;
}
/*Mobile Display*/
@media (max-width: 500px) {
  /*about*/
  #landing-page{
    height:fit-content;
  }
  #landing-about{
    text-align: center;
    margin-top: 4vw;
  }
  #about-info,#landing-headshot{
    float:none;
    display:inline-block;
  }
  #landing-headshot{
    max-width: 138px;
    max-height: 147px;
    height: 32vw;
    width: 29.5vw;
    margin: 0 2vmax;
  }
  #about-info{
    margin-left:1.5vw;
  }
  #about-info h1{
    font-size: 5vw;
    margin-bottom:2vw;
  }
  #about-info h2{
    font-size: 3.5vw;
    margin-bottom:1.8vw;
  }
  #about-info h2:last-of-type{
    margin-bottom:2vw;
  }
  .about-links{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    bottom: 1vw;
    position: relative;
  }
  .about-links li a{
    font-size:1.8vmax;
  }
  #about-text{
    width:90%;
    font-size:3vw;
    display: inline-block;
  }
  #landing-skills{
    margin-top:2vmax;
  }
  #landing-portfolio-btn{
    position: relative;
    bottom:4vmax;;
    margin-top:8vmax;
    display:inline-block;
  }
  /*Projects*/
  .projects-wrapper{
    overflow-x: hidden;
  }
  .projects-item{
    width: 95%;
    height: 29vmax;
  }
  .close-btn{
    left:0.5em;
  }
  #single-project{
    width: 100%;
    top: 19%;
    height: fit-content;
  }
  #project-name{
    font-size:6vw;
  }
  #project-role{
    font-size: 5vw;
    margin-top: 1vw;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  #project-preview{
    display: inline-block;
    width: 90vw;
    max-width: 757px;
    max-height: 430px;
  }
  .project-links-wrapper{    
    top: unset;
    right: 0%;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 0;
    padding: 0;
  }
  .project-link{
    padding:0;
    margin:0 3vw;
    display:inline-block;
  }
  .project-skills-wrapper{
    width: 79%;
    padding: 0;
    margin-top: 3vw;
    text-align: right;
    position: absolute;
    right: 16vw;
  }
  .project-skill{
    font-size: 2.8vw;
    margin: 1vw 2vw;
  }
}
/*Desktop Display*/
@media (min-width: 1280px) {
  /*Landing Page*/
  #landing-page{
    max-width: 1380px;
    display:inline-block;
  }
  #landing-headshot{
    max-width: 172.250px;
    max-height: 179.125px;
    margin: 0 2.5em;
  }
  #about-info h1{
    font-size: 30px;
    margin: 0 0 9px 0;
  }
  #about-info h2{
    margin: 0 0 5px 0;
    font-size: 20px;
  }
  #about-text{
    font-size:18px;
  }
  #landing-skills{
    margin-top:5vh;
    font-size:0;
  }
  .skill-label{
    font-size:33px;
  }
  .skill-item{
    font-size:22px;
  }
  #landing-portfolio-btn{
    bottom:45px;
  }
  #landing-portfolio-btn a{
    padding:17.25px 41.3px;
    font-size:20px;
  }
  /*Projects Page*/
  .projects-item{
    max-width:545.188px;
    max-height:321.297px;
    margin: 15px;
  }
}
@media (min-width: 1000px) and (max-height: 750px){
  /*Landing Page*/
  #landing-about{
    margin-top:0.5em;
  }
  #landing-skills{
    margin-top:23px;
  }
  .skill-label{
    margin:5px 0;
  }
  .skill-item{
    margin: 2.5px 0;
  }
  #landing-portfolio-btn{
    bottom:30px;
  }
  #landing-portfolio-btn  a{
    padding:8.5px 30.5px;
  }
  /*Projects Page*/
  .projects-item{
    max-width:500px;
    max-height:280px;
    margin: 15px;
  }
}
@media (max-height:678px)and (min-width: 500px){
  #landing-skills{
    margin-top:30px;
  }
  #landing-portfolio-btn{
    display:none;
  }
}
/*Animations*/
@keyframes about-fadeinright{
  0%{
    transform: translateX(70%);
    opacity: 0;
  }
  100%{
    transform:translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeinright{
  0%{
    opacity: 0;
    transform: translateX(145%);
  }
  100%{
    transform:translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeinleft{
  0%{
    opacity: 0;
    transform: translateX(-145%);
  }
  100%{
    transform:translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeoutright{
  0%{
    transform: translateX(0%);
    display:inline-block !important;
    opacity: 1;
  }
  99.999%{
    display:inline-block !important;
  }
  100%{
    transform:translateX(200%);
    display: none !important;
    opacity: 0;
  }
}
@keyframes fadeoutleft{
  0%{
    transform: translateX(0%);
    display: inline-block !important;
    opacity: 1;
  }
  99.999%{
    display:inline-block !important;
  }
  100%{
    transform:translateX(-200%);
    display:none!important;
    opacity: 0;
  }
}
@keyframes fadeintoview{
  0%{
    visibility: hidden;
    opacity: 0;
  }
  100%{
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeinbottom{
  0%{
    bottom:-15vw;
  }
  100%{
    bottom:0;
  }
}
@keyframes fadeintop{
  0%{
    transform: translateY(-200%);
  }
  100%{
    transform: translateY(0%);
  }
}